<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Accept a payment</title>
    <meta name="description" content="A demo of a payment on Stripe" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="checkout.css" />
    <script src="https://js.stripe.com/v3/"></script>
    <script src="checkout.js" defer></script>
    <script th:inline="javascript">
        var stripePublicKey = /*[[${stripePublicKey}]]*/ null;
    </script>

</head>
<body>
<!-- Display a payment form -->
<form id="payment-form" th:action="@{/checkout}" th:object="${checkoutForm}" method="POST">
    <p><b>User Information</b></p>
    <p> Email : <input type="text" th:field="*{email}" id="email" placeholder="Ex: email@address.fr" required/></p>
    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red;"></p>
    <p> Nom : <input type="text" th:field="*{nom}" id="nom" placeholder="Nom Prenom" required/></p>
    <p th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" style="color: red;"></p>
    <p> Tel : <input type="tel" th:field="*{numero}" id="tel" placeholder="+33 XX XX XX XX " required/></p>
    <p th:if="${#fields.hasErrors('numero')}" th:errors="*{numero}" style="color: red;"></p>
    <p> Ville : <input type="text" th:field="*{city}" id="city" placeholder="Nancy, Lyon,..." required/></p>
    <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}" style="color: red;"></p>
    <p> Code Postal : <input type="text" th:field="*{codePostal}" id="codepostal" placeholder="Ex: 54500" required/></p>
    <p th:if="${#fields.hasErrors('codePostal')}" th:errors="*{codePostal}" style="color: red;"></p>
    <p> <input type="submit"> </p>
    <div id="payment-message" class="hidden"></div>

</form>
</body>
</html>