<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/login.css" />
    <script src="js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function() {
            $("#Login_start_").click(function() {
                $("#regist_container").hide();
                $("#_close").show();
                $("#_start").animate({
                    left : '350px',
                    height : '520px',
                    width : '400px'
                }, 500, function() {
                    $("#login_container").show(500);
                    $("#_close").animate({
                        height : '40px',
                        width : '40px'
                    }, 500);
                });
            });
            $("#Regist_start_").click(function() {
                $("#login_container").hide();
                $("#_close").show();
                $("#_start").animate({
                    left : '350px',
                    height : '520px',
                    width : '400px'
                }, 500, function() {
                    $("#regist_container").show(500);
                    $("#_close").animate({
                        height : '40px',
                        width : '40px'
                    }, 500);
                });
            });
            $("#_close").click(function() {

                $("#_close").animate({
                    height : '0px',
                    width : '0px'
                }, 500, function() {
                    $("#_close").hide(500);
                    $("#login_container").hide(500);
                    $("#regist_container").hide(500);
                    $("#_start").animate({
                        left : '0px',
                        height : '0px',
                        width : '0px'
                    }, 500);
                });
            });
            $("#toRegist").click(function() {
                $("#login_container").hide(500);
                $("#regist_container").show(500);
            });
            $("#toLogin").click(function() {
                $("#regist_container").hide(500);
                $("#login_container").show(500);
            });
        });
    </script>
</head>

<body style="background-color: #DCDCDC;">

<a id="Login_start_" class="btn btn-danger" style="width: 100px; height: 40px; border-radius: 0;">登陆</a>
<a id="Regist_start_" class="btn btn-success" style="width: 100px; height: 40px; border-radius: 0;">注册</a>

<div id='_start'>
    <div id='_close' style="display: none;">
        <span class="glyphicon glyphicon-remove"></span>
    </div>
    <br />

    <div id="login_container">
        <div id="lab1">
            <span id="lab_login">S'identifier</span>
            <span id="lab_toRegist">
                    &emsp;Nouveau Client&nbsp;
                    <span id='toRegist' style="color: #EB9316; cursor: pointer;">Créer mon compte</span>
                </span>
        </div>
        <div style="width: 330px;">
            <span id="lab_type1">E-mail*</span>
        </div>

        <form action="" th:action="@{~/user/login.action}"    method="POST">
            <div id="form_container1">
                <br />
                <input type="text" class="form-control" placeholder="E-mail" id="login_number" value="Gary" name="username"/>
                <input type="password" class="form-control" placeholder="Mot de passe" id="login_password" name="password" />
                <input type="submit" value="M'identifier" class="btn btn-success" id="login_btn" />
                <span id="rememberOrfindPwd">
                    <span>
                        <input id="remember" type="checkbox" style="margin-bottom: -1.5px;" />
                    </span>
                    <span style="color: #000000"> Se souvenir de moi&emsp;&emsp;&emsp;&emsp; </span>
                    <span style="color: #000000"> Mot de passe oublié </span>
                </span>
            </div>
        </form>

        <div style="display: block; width: 330px;">
            <span id="lab_type2">Connecter directement avec</span>
        </div>
        <div style="width: 330px; height: 100px; border-bottom: 1px solid #FFFFFF;">
            <br />
            <button id="login_QQ" type="button" class="btn btn-info">
                <img src="img/qq32.png" style="width: 20px; margin-top: -4px;" />
                &emsp;Facebook
            </button>
            <button id="login_WB" type="button" class="btn btn-danger">
                <img src="img/sina32.png" style="width: 20px; margin-top: -4px;" />
                &emsp;Google
            </button>
        </div>
    </div>
    <!-- 注册 -->
    <form action="" th:action="@{~/user/register.action}"  method="POST">
        <div id='regist_container' style="display: none;">
            <div id="lab1">
                <span id="lab_login">Créer un compte</span>
                <span id="lab_toLogin">
                    &emsp;déja Membre&nbsp;
                    <span id='toLogin' style="color: #EB9316; cursor: pointer;">Se connecter</span>
                </span>
            </div>

            <div id="form_container2" style="padding-top: 25px;">

                <input type="text" class="form-control" value="Gary" placeholder="用户名" id="regist_account" name="username" />
                <input type="password" class="form-control" placeholder="Mot de passe" id="regist_password1" name="password" />
                <input type="password" class="form-control" placeholder="Confirmez le mot de passe" id="regist_password2" />
                <input type="text" class="form-control" placeholder="E-mail" id="regist_phone" name="telephone" />
                <input type="text" class="form-control" placeholder="Code de vérification" id="regist_vcode" />
                <input id="getVCode" type="button" class="btn btn-success" value="Cliquez pour envoyer le code de vérification" onclick="sendCode(this)" />

            </div>
            <input type="submit" value="REJOIGNEZ-NOUS" class="btn btn-success" id="regist_btn" />
        </div>
    </form>
</div>

</body>
<script type="text/javascript">
    var clock = '';
    var nums = 30;
    var btn;
    function sendCode(thisBtn) {
        btn = thisBtn;
        btn.disabled = true;
        btn.value = 'Réacquérir（' + nums + '）';
        clock = setInterval(doLoop, 1000);
    }

    function doLoop() {
        nums--;
        if (nums > 0) {
            btn.value = 'Réacquérir（' + nums + '）';
        } else {
            clearInterval(clock);
            btn.disabled = false;
            btn.value = 'Cliquez pour envoyer le code de vérification';
            nums = 10;
        }
    }

    $(document).ready(function() {
        $("#login_QQ").click(function() {
            alert("pas en service！");
        });
        $("#login_WB").click(function() {
            alert("pas en service！");
        });
    });
</script>
</html>