.banner {
    color: black;
    text-align: right;
    padding: 32px;
    border-bottom: solid 3px black;
    display: flex;
	justify-content: flex-end;
	flex-direction: row;
	align-items: center;
}

.titre {
	padding-left: 32px;
}

.logo {
	height: 80px;
	width: 80px;
}