.liste {
	list-style-type: none;
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
	max-width: 1000px;
}

.liste-jeu {
	border: solid 2px black;
	border-radius: 10px;
	height: 150px;
	width: 200px;
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
}
